<h3 i18n>View Article Details</h3>
<div class="wrapper">
	<div>
		<label>
			<b i18n>Id: </b>
		</label> {{article.id}}
	</div>
	<div>
		<label>
			<b i18n>Title: </b>
		</label> {{article.title}}
	</div>
	<div>
		<label>
			<b i18n>Content: </b>
		</label> {{article.content}}
	</div>
	<div>
		<label>
			<b i18n>Created Date: </b>
		</label> {{article.createdDate}}
	</div>
	<div>
		<label>
			<b i18n>CreatedBy: </b>
		</label> {{article.userId}}
	</div>
	<div>
		<label>
			<b i18n>Likes: </b>
		</label> {{article.likes?.length}}
	</div>
	<div>
		<h3 i18n>Article comments</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th i18n>Id</th>
					<th i18n>Content</th>
					<th i18n>Created Date</th>
					<th i18n>CreatedBy</th>
					<th i18n>Likes</th>
					<th i18n>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let comment of article.commentList; ">
					<td>{{comment.id}}</td>
					<td>{{comment.content}}</td>
					<td>{{comment.createdDate}}</td>
					<td>{{getUserLoginById(comment.userId)}}</td>
					<td>{{comment.likes.length}}</td>
					<td>
						<button (click)="updateComment(comment.id, comment.userId)" class="bi bi-pencil-square" id="updateButton"></button>
						<button (click)="deleteComment(comment.id, comment.userId)" class="bi bi-trash" id="deleteButton"></button>
						<button (click)="like(comment.id)" class="bi bi-heart-fill" id="likeButton"></button>			
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<form [formGroup]="createCommentForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label i18n>Add Comment</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Good article" formControlName="content">
				<span *ngIf="createCommentForm.get('content')?.touched && createCommentForm.get('content')?.hasError('required')" i18n>Enter comment</span>
				<span *ngIf="createCommentForm.get('content')?.touched && createCommentForm.get('content')?.hasError('minlength')" i18n>Minimum 1 characters</span>
				<span *ngIf="createCommentForm.get('content')?.touched && createCommentForm.get('content')?.hasError('maxlength')" i18n>Maximum 400 characters</span>
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="!createCommentForm.valid" i18n>Submit</button>
		</form>
		<!--{{this.createCommentForm.value | json}}-->
	</div>
	<div class="push"></div>
</div>