<h3>View Article Details</h3>
<div class="wrapper">
	<div>
		<label>
			<b>Id: </b>
		</label> {{article.id}}
	</div>
	<div>
		<label>
			<b>Title: </b>
		</label> {{article.title}}
	</div>
	<div>
		<label>
			<b>Content: </b>
		</label> {{article.content}}
	</div>
	<div>
		<label>
			<b>Created Date: </b>
		</label> {{article.createdDate}}
	</div>
	<div>
		<label>
			<b>CreatedBy: </b>
		</label> {{article.userId}}
	</div>
	<div>
		<label>
			<b>Likes: </b>
		</label> {{article.likes?.length}}
	</div>
	<div>
		<h3>Article comments</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Content</th>
					<th>Created Date</th>
					<th>CreatedBy</th>
					<th>Likes</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let dat of article.commentList ">
					<td>{{dat.id}}</td>
					<td>{{dat.content}}</td>
					<td>{{dat.createdDate}}</td>
					<td>{{getUserLoginById(dat.userId)}}</td>
					<td>{{dat.likes?.length}}</td>
					<td>
						<button (click)="updateComment(dat.id, dat.userId)" class="bi bi-pencil-square" id="updateButton"></button>
						<button (click)="deleteComment(dat.id, dat.userId)" class="bi bi-trash" id="deleteButton"></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<form [formGroup]="createCommentForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label>Add Comment</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Good article" formControlName="content">
				<span *ngIf="createCommentForm.get('content')?.touched && createCommentForm.get('content')?.hasError('required')">Enter comment</span>
				<span *ngIf="createCommentForm.get('content')?.touched && createCommentForm.get('content')?.hasError('minlength')">Minimum 1 characters</span>
				<span *ngIf="createCommentForm.get('content')?.touched && createCommentForm.get('content')?.hasError('maxlength')">Maximum 400 characters</span>
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="!createCommentForm.valid">Submit</button>
		</form>
		<!--{{this.createCommentForm.value | json}}-->
	</div>
	<div class="push"></div>
</div>