<div class="col-md-6 offset-md-3">
  <h3 i18n>Sign Up</h3>
  <form 
  *ngIf="!isSuccessful"
  (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label i18n>Login</label>
      <input type="text" class="form-control" id="login" 
      [(ngModel)] = "user.login" name="login">
    </div>
  
    <div class="form-group">
      <label i18n>Password</label>
      <input type="password" class="form-control" id="password" 
      [(ngModel)] = "user.password" name="password">
    </div>
  
    <div class="form-group">
      <label i18n>Email</label>
      <input type="text" class="form-control" id="email" 
      [(ngModel)] = "user.email" name="email">
    </div> 

    <div class="form-group">
      <label i18n>Firstname</label>
      <input type="text" class="form-control" id="firstName" 
      [(ngModel)] = "user.firstName" name="firstName">
    </div> 

    <div class="form-group">
      <label i18n>Lastname</label>
      <input type="text" class="form-control" id="lastName" 
      [(ngModel)] = "user.lastName" name="lastName">
    </div> 
  
    <button class="btn btn-success" type="submit" style="margin-bottom: 100px" i18n>Sign Up</button>
    <div class="alert alert-warning" *ngIf="isSignUpFailed" i18n>
      Signup failed!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful" i18n>
    Your registration is successful!
  </div>
</div>