<h2>Articles</h2> 
<button (click) = "getArticles()"  class="btn btn-primary" id="articleTopButtons">
		Show all articles
</button>
<button (click) = "getArticleListByOwner()"  class="btn btn-primary" id="articleTopButtons">
		Show only my articles
</button>

<div class="wrapper">
<table class="table table-striped" >
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Content</th>
			<th>Created Date</th>
			<th>CreatedBy</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let article of articles">
			<td >{{article.id}}</td>
			<td>{{article.title}}</td>
			<td>{{article.content}}</td>
			<td>{{article.createdDate}}</td>
			<td>{{getUserLoginById(article.userId)}}</td>
			<td>
				<button (click) ="updateArticle(article.id, article.userId)" class="bi bi-pencil-square" id="updateButton" ></button>
				<button (click) ="deleteArticle(article.id, article.userId)" class="bi bi-trash" id="deleteButton" ></button>
				<button (click) ="articleDetails(article.id)" id="detailsButton" class="bi bi-search" ></button>
			</td>
		</tr>
	</tbody>
</table>
<div class="push"></div>
</div>
