<h2>Articles</h2>
<table class="table table-striped" style="margin-bottom: 100px">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Content</th>
			<th>Created Date</th>
			<th>CreatedBy</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let article of articles">
			<td>{{article.id}}</td>
			<td>{{article.title}}</td>
			<td>{{article.content}}</td>
			<td>{{article.createdDate}}</td>
			<td>{{article.userId}}</td>
			<td>
				<button (click) ="updateArticle(article.id)" class="bi bi-pencil-square" style="margin-bottom: 5px; margin-right: 5px; color: green; border-color: green"></button>
				<button (click) ="deleteArticle(article.id)" class="bi bi-trash" style="color: red; border-color: red"></button>
				<button (click) ="articleDetails(article.id)" class="bi bi-search" ></button>
			</td>
		</tr>
	</tbody>
</table>
