<h2>Articles</h2>
<table class="table table-striped" style="margin-bottom: 100px">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Content</th>
			<th>Created Date</th>
			<th>CreatedBy</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let article of articles">
			<td>{{article.id}}</td>
			<td>{{article.title}}</td>
			<td>{{article.content}}</td>
			<td>{{article.createdDate}}</td>
			<td>{{article.userId}}</td>
			<td>
				<button (click) ="updateArticle(article.id)" class="btn btn-info">
					Update
				</button>
			</td>
		</tr>
	</tbody>
</table>
