<h2 i18n>Users</h2>
<div class="wrapper">
<table class="table table-striped" >
	<thead>
		<tr>
			<th i18n>Id</th>
			<th i18n>Login</th>
			<th i18n>Fisrtname</th>
			<th i18n>Lastname</th>
			<th i18n>Email</th>
			<th i18n>Status</th>
			<th i18n>Roles</th>
			<th i18n>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let user of users">
			<td>{{user.id}}</td>
			<td>{{user.login}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.email}}</td>
			<td>{{user.active}}</td>
			<td>
				<li *ngFor="let role of user.roles">
				{{ role.name }}
				</li>
			</td>
			<td>
				<button (click) ="updateUser(user.id)"  class="bi bi-pencil-square" id="updateButton" ></button>
				<button  class="bi bi-trash" id="deleteButton" ></button>
				<button  id="detailsButton" class="bi bi-search" ></button>
			</td>
		</tr>
	</tbody>
</table>
<div class="push"></div>
</div>
