<div id="app">
	<nav class="navbar navbar-expand navbar-dark bg-primary">
		<ul class="navbar-nav mr-auto" routerLinkActive="active">
			<li class="nav-item">
				<a href class="nav-link" routerLink="articles" i18n>Artices </a>
			</li>
			<li class="nav-item">
				<a href class="nav-link" *ngIf="isLoggedIn" routerLink="create-article" i18n>Create aricles</a>
			</li>
			<li class="nav-item">
				<a href class="nav-link" *ngIf="isAdmin" routerLink="users" i18n>Users</a>
			</li>
			<li class="nav-item">
				<a href class="nav-link" *ngIf="isAdmin" routerLink="roles" i18n>Roles</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
			<li class="nav-item">
				<a href class="nav-link" routerLink="register" i18n>Sign Up</a>
			</li>
			<li class="nav-item">
				<a href class="nav-link" routerLink="login" i18n>Sign in</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
			<li class="nav-item">
				<a href class="nav-link" routerLink="profile">{{ login }}</a>
			</li>
			<li class="nav-item">
				<a href class="nav-link" (click)="logout()" i18n>LogOut</a>
			</li>
		</ul>
		<ul class="navbar-nav" >
			<li *ngFor="let locale of localeList"class="nav-item">
				<a href="/{{locale.code}}/" class="nav-link">{{ locale.label }}</a>
			</li>
		</ul>
	</nav>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>


<h1 class="text-center" i18n>{{title}}</h1>
<div class="container">
	<router-outlet></router-outlet>
</div>

<footer class="footer">
	<div class="container">
		<span i18n>All Rights Reserved 2022 @amezenin</span>
	</div>
</footer>