<div class="col-md-12">
  <div class="card card-container">

    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="login" i18n>login</label>
        <input
          type="text"
          class="form-control"
          name="login"
          [(ngModel)]="form.login"
          required
          #login="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="login.errors && f.submitted"
          i18n>
          Login is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password" i18n>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']" i18n>Password is required</div>
          <div *ngIf="password.errors['minlength']" i18n>
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" i18n>
          Sign in
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
          >
          <p i18n>Login failed:</p> {{ errorMessage }}
        </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      <p i18n>Logged in as: </p> {{ roles }}.
    </div>
  </div>
</div>
