/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons\font\bootstrap-icons.css";

.footer {
	position:fixed;
	bottom: 0;
	padding-top: 15px;
	width: 100%;
	background-color: blue;
	text-align: center;
	color: white;
}

#updateButton { 
	margin: 2.5px;
	color: green; 
	border-color: green;
}

#deleteButton { 
	margin: 2.5px;
	color: red; 
	border-color: red;
}

#detailsButton { 
	margin: 2.5px;
}

#articleTopButtons {
	margin: 2.5px;
}

.wrapper {
	min-height: 100%;
	/* Equal to height of footer */
	/* But also accounting for potential margin-bottom of last child */
	margin-bottom: -50px;
  }

  .footer,
  .push {
	height: 50px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
